.App {
  text-align: center;
  background-image: linear-gradient(to right, #DECBA4, #719494);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Lato,sans-serif;
  padding: 100px;

}

#header {
  min-height: 10vh;
  font-size: calc(30px + 2vmin);
  color: rgb(11, 52, 77);
  text-decoration: underline;
  text-transform: uppercase;
  padding-top: 25px;
  font-family: Poynter,Georgia,seri;
  margin-left: 20px;
  transition: all 200ms cubic-bezier(0, 0, 1, 1);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.productCard {
  height: 500px;
  width: 300px;
  margin: 20px;
  padding: 15px;
  display: inline-block;
  border: 3px solid #5A5A5A;
  border-radius: 15px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.productCard h2 {
  margin: 0;
  height: 84px;
  color: rgb(161, 68, 18);
  text-transform: capitalize;
  font-size: calc(12px + 1vmin);
  font-family: Poynter,Georgia,seri;
}

.productCard h2:hover {
  color: rgba(11, 52, 77, 0.578);
}

.productCard h3 {
  margin-top: 25px;
  color: rgba(11, 52, 77, 0.578);
  text-transform: capitalize;
  font-size: calc(7px + 1vmin);
  font-family: Poynter,Georgia,seri;
}

.imgHolder {
  background-size: cover;
  background-repeat: no-repeat;
  height: 175px;
  width: 175px;
  padding: 60px;
  padding-bottom: 65px;
  border-radius: 20px;
}

.logo {
  height: 150px;
  width: 100px;
  border-radius: 20px;
}

.nav {
  display: inline-flex;
  margin: 0 auto;
}
